body{
  margin:0;
  background-color: white;
}

header{
  position: relative;
  height:400px;
  width:100%;
}
.name{
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  margin:0 auto;
  text-align: center;
  font-size: 50px;
  font-weight: 100;
}

header  ul{
  list-style: none;
  margin:0;
  padding:0;
  display:flex;
  justify-content: flex-end;
  background-color: #EEEEEE;
}

header a{
  text-decoration: none;
  color:black;
}
header li{
  padding:0 5px;
  margin:0 5px;
  cursor:pointer;
}

header li:hover{
  opacity:0.2;
}

.works-main{
  margin:0 10%;
}

.works-main h2{
  font-weight: 100;
}

.works{
  height:500px;
  list-style: none;
  margin:0;
  padding:0;
  background-color: lightgray;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
}

.work{
  margin:10px 10%;
  background-color: #008080;
}

.work p{
  display:none;
  margin:0;
  color:white;
  text-align: center;
}

.work img{
  display: inline-block;
  margin:5%;
}

.work a{
  text-decoration: none;
}
.work a:hover{
  opacity:0.2;
}

.profile{
  height:400px;
  margin:80px 10%;
}

.profile h2{
  font-weight: 100;

}

.profile-main{
  height:400px;
}

.profile-info{
  display: flex;
  background-color: white;
}
.profile-info img{
  border-radius:120px;
  margin-left: 5%;
}
.profile-info p{
  padding:15px 20px;
  margin-left:10%;
  background-color: #CCFFFF;
  width:320px;
  height:350px;
}

footer{
  height:100px;
  background-color: #EEEEEE;
}

.contact{
  border:1px solid black;
  margin:0 10%;
}

footer h3{
  margin:0;
  text-align: center;
}

footer p{
  margin:0;
  text-align: center;
}

footer ul{
  height:50px;
  display:flex;
  list-style: none;
  margin:0;
  padding:0;
  display:flex;
  justify-content: center;
  align-items: center;
}
footer a{
  text-decoration: none;
  color:black;
}

footer li{
  padding:0 5px;
  margin:0 5px;
  cursor:pointer;
}

footer li:hover{
  opacity:0.2;
}
